<div class="container">

    <div class="jumbotron bg-light p-1 mt-2">

        <a routerLink="/laptops/add" class="btn btn-outline-dark m-1">Voeg laptop toe</a>
        <a routerLink="/laptops" class="btn btn-outline-dark m-1">Free Laptops</a>
        <hr>
        <h1>Alle laptops</h1>
        <div class="row">
            <div class="col-5">
                Filter op betaald status
            </div>
            <div class="col-2">
                Reset filter
            </div>
            <div class="col-5">
                Filter op Besturingssysteem
            </div>

        </div>

        <div class="row">
            <div class="col-5">
                <button (click)="sortPaidLaptops(true)" class="btn btn-outline-secondary m-1">Betaalde</button>

                <button (click)="sortPaidLaptops(false)" class="btn btn-outline-secondary m-1">Onbetaalde</button>
            </div>
            <div class="col-2">
                <button (click)="ngOnInit()" class="btn btn-outline-secondary m-1">Alle laptops</button>

            </div>
            <div class="col-5">
                <button (click)="allTypedLaptops('Linux')" class="btn btn-outline-secondary m-1">Linux</button>

                <button (click)="allTypedLaptops('Windows')" class="btn btn-outline-secondary m-1">Windows</button>
            </div>
            






        </div>

        
        <table class="table table-striped  text-dark">
            <thead>
                <tr>
                    <th style="width: 40%">Naam</th>
                    <th style="width: 10%">Besturingssysteem</th>
                    <th style="width: 10%">Prijs</th>
                    <th style="width: 10%">Betaald</th>
                    <th style="width: 10%">Gratis</th>
                    <th style="width: 10%">Bewerk</th>
                    <th style="width: 10%">Verwijder</th>
                </tr>
            </thead>
            <tbody>
                    <tr *ngFor="let laptop of linkedLaptops">
                        <td>{{laptop.name}}</td>
                        <td>{{laptop.type}}</td>
                        <td>{{laptop.price}} euro</td>
                        <td *ngIf="laptop.isPaid">
                            Betaald
                        </td>
                        <td *ngIf="!laptop.isPaid">
                        </td>
                        <td *ngIf="!laptop.isFree">
                        </td>
                        <td *ngIf="laptop.isFree">
                            Gratis
                        </td>
                        <td>
                            <a routerLink="/laptops/edit/{{laptop.id}}" class="btn btn-outline-dark">Bewerk</a>
                        </td>
                        <td>
                            <button (click)="onDeleteLaptop(laptop.id)" class="btn btn-outline-danger">Verwijder
                            </button>
                        </td>
                    </tr>
                
                
            </tbody>
        </table>
    </div>
</div>