<!--
<p>laptop works!</p>

<button (click)="onGetLaptop()">getlaptops</button>

<button (click)="onCreateLaptop()">create</button>

-->


<div class="container">
    <h1>All Laptops</h1>

    <div class="jumbotron bg-light p-1">
        <a routerLink="/laptops/add" class="btn btn-outline-secondary">Add Laptop</a>
    
        <table class="table table-striped  text-dark">
            <thead>
                <tr>
                    <th style="width: 5%">ID</th>
                    <th style="width: 35%">Naam</th>
                    <th style="width: 10%">System</th>
                    <th style="width: 10%">Price</th>
                    <th style="width: 10%">Paid</th>
                    <th style="width: 10%">Free</th>
                    <th style="width: 10%">Edit</th>
                    <th style="width: 10%">Delete</th>
                </tr>
            </thead>
            <tbody>
                
                    <tr *ngFor="let laptop of allLaptops">
                        <td>{{laptop.id}}</td>
                        <td>{{laptop.name}}</td>
                        <td>{{laptop.type}}</td>
                        <td>{{laptop.price}} euro</td>
                        <td>
                            <button class="btn btn-outline-danger">isPaid</button>
                        </td>
                        <td>
                            <button class="btn btn-outline-danger">isFree</button>
                        </td>
    
                        <td>
                            <a routerLink="/laptops/edit/{{laptop.id}}" class="btn btn-outline-secondary">Edit</a>
                        </td>
                        <td>
                            <button (click)="onDeleteLaptop(laptop.id)" class="btn btn-outline-secondary">Delete
                            </button>
                        </td>
                    </tr>
                
                
            </tbody>
        </table>
    </div>
</div>