<div class="container">
    <h1>All Laptops</h1>

    <div class="jumbotron bg-light p-1">
        <a routerLink="/laptops/add" class="btn btn-outline-secondary">Add Laptop</a>
        <div class="">
            <button (click)="sortPaidLaptops(true)" class="btn btn-outline-secondary m-1">Betaalde laptops</button>
            <button (click)="sortPaidLaptops(false)" class="btn btn-outline-secondary m-1">Onbetaalde laptops</button>
            <button (click)="ngOnInit()" class="btn btn-outline-secondary m-1">Alle laptops</button>
            <button (click)="allTypedLaptops('Linux')" class="btn btn-outline-secondary m-1">Linux laptops</button>
            <button (click)="allTypedLaptops('Windows')" class="btn btn-outline-secondary m-1">All windows laptops</button>    
        </div>

        
        <table class="table table-striped  text-dark">
            <thead>
                <tr>
                    <th style="width: 5%">ID</th>
                    <th style="width: 35%">Naam</th>
                    <th style="width: 10%">System</th>
                    <th style="width: 10%">Price</th>
                    <th style="width: 10%">Paid</th>
                    <th style="width: 10%">Free</th>
                    <th style="width: 10%">Edit</th>
                    <th style="width: 10%">Delete</th>
                </tr>
            </thead>
            <tbody>
                
                    <tr *ngFor="let laptop of allLaptops">
                        <td>{{laptop.id}}</td>
                        <td>{{laptop.name}}</td>
                        <td>{{laptop.type}}</td>
                        <td>{{laptop.price}} euro</td>
                        <td *ngIf="laptop.isPaid">
                            Betaald
                        </td>
                        <td *ngIf="!laptop.isPaid">
                        </td>
                        <td *ngIf="!laptop.isFree">
                        </td>
                        <td *ngIf="laptop.isFree">
                            Gratis
                        </td>
                        <td>
                            <a routerLink="/laptops/edit/{{laptop.id}}" class="btn btn-outline-secondary">Edit</a>
                        </td>
                        <td>
                            <button (click)="onDeleteLaptop(laptop.id)" class="btn btn-outline-secondary">Delete
                            </button>
                        </td>
                    </tr>
                
                
            </tbody>
        </table>
    </div>
</div>