<div class="container">

    <div class="jumbotron bg-light p-1 mt-2">
        <h1>Details {{currentCaw.name}}</h1>
        <h1 *ngIf="allRequests.length == 0">
            Deze Deelwerking heeft nog geen laptops besteld
        </h1>
        <table *ngIf="allRequests.length > 0" class="table table-striped text-dark">
            <thead>
                <tr>
                    <th style="width: 20%;">Email</th>
                    <th style="width: 20%;">Beschrijving</th>
                    <th style="width: 10%;">Aantal</th>
                    <th style="width: 10%;">Besturingssysteem</th>
                    <th style="width: 10%;">Status</th>
                    <!-- <th style="width: 10%">Edit</th> -->
                    <th style="width: 10%;">Details</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let request of allRequests">
                    <td>{{request.email}}</td>
                    <td>{{request.description}}</td>
                    <td>{{request.count}}</td>
                    <td>{{request.type_os}}</td>
                    <td>{{request.status}}</td>
                    <!-- <td>
                        <a routerLink="/requests/edit/{{request.id}}" class="btn btn-outline-secondary">Edit</a>
                    </td> -->
                    <td>
                        <a routerLink="/requests/detail/{{request.id}}" class="btn btn-outline-secondary">Details</a>
                    </td> 
                    
                </tr>
            </tbody>

        </table>

        <button routerLink="/caw" class="btn btn-link">Terug</button>
    </div>


</div>