
<mat-drawer-container class="example-container"  autosize>


  <div class="content-wrapper">
    <nav class="navbar navbar-expand-md navbar-light bg-light p-2">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="">
            <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Laptops Aanvragen</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/laptops" routerLinkActive="active">Laptops</a>
          </li>
          <li class="">
            <a class="nav-link" routerLink="/requests" routerLinkActive="active">Aanvragen</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/caw" routerLinkActive="active">Caw</a>
          </li>

        </ul>
      </div>
    </nav>

    

    <div class="header pt-5 p-5">
      
      
    
      <!-- main app container -->
      <div class="app-container" [ngClass]="{ 'bg-light': user }">
        <a href="/" class="p-2">
          <img src="../assets/logos/caw-witfuchsia-rgb@2x.png" alt="" height="50px">
        </a>
        
        <alert></alert>
        <router-outlet></router-outlet>
      </div>
      
    </div>
      <!--Header ends-->

  </div>
  <div class="content flex footer mt-2">
    <footer>
      <img src="../assets/logos/caw-blauwfuchsia-rgb@2x.png" mb-2 height="20px">
      <p class="m-2">Copyright &copy; Caw Antwerpen</p>
    </footer>
    
  </div>

  

</mat-drawer-container>


