<div *ngFor="let request of allRequests">
    <div *ngIf="+request.id == this.id">

        <div class="container">
        
            <div class="jumbotron bg-light p-1 mt-2 ">
                <div class="row">
                    <h2 class="col-6">Aangevraagde laptops: {{request.count}} {{request.type_os}} Laptops</h2>
                    <div class="col-6">
                        <div class="d-flex p-2 justify-content-center">
                            Deelwerking: {{currentCaw.name}}
                        </div>
                        <div class="d-flex p-2 justify-content-center">
                            Extra info: {{request.description}}
                        </div>
                    </div>
                </div>
                <hr>
                
                
                <form *ngIf="requestLaptops.length < request.count" action="" class="row m-2 form-group" [formGroup]="form" (ngSubmit)="onAddLaptop()">
                    <div class="row">
                        <div *ngIf="request.type_os == 'Linux'" class="col-8">
                            <label for="laptop_id"></label>
                            <select name="laptop_id" id="laptop_id" formControlName="laptop_id" class="col-12" style="height: 100%; border-radius: 5px;">
                                <option *ngFor="let laptop of linuxLaptops" value="{{laptop.id}}">{{laptop.name}}</option>
                            </select>
                        </div>
                        
    
                        <div *ngIf="request.type_os == 'Windows'" class="col-8">
                            <label for="laptop_id" ></label>
                            <select name="laptop_id" id="laptop_id" formControlName="laptop_id" class="col-12" style="height: 100%; border-radius: 5px;">
                                <option *ngFor="let laptop of windowsLaptops" value="{{laptop.id}}">{{laptop.name}}</option>
                            </select>
                        </div>
                        
                        
                        <div class="col-4">
                            <button type="submit" class="btn btn-outline-dark">
                                Voeg laptop toe
                            </button>                 
                        </div>
                        <div *ngIf="this.submitted && this.f.laptop_id.errors" class="">
                            <p *ngIf="this.f.laptop_id.errors.required" class="text-danger">Selecteer een laptop om hem toe te voegen aan deze aanvraag</p>
                        </div>
                    </div>
                    
                    
                </form>
                <hr>

                <table class="table table-striped  text-dark">
                    <thead>
                        <tr>
                            
                            <th style="width: 40%">Naam</th>
                            <th style="width: 20%">Besturingssysteem</th>
                            <th style="width: 20%">Prijs</th>
                            <th style="width: 10%"  *ngIf="request.status != 'goedgekeurd'">Verwijder</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let laptop of requestLaptops">
                            <td>{{laptop.name}}</td>
                            <td>{{laptop.type}}</td>
                            <td>{{laptop.price}} euro</td>
                            <td *ngIf="request.status != 'goedgekeurd'">
                                <button (click)="onRemoveLaptop(laptop.id)" class="btn btn-outline-secondary">Verwijder
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                
                
                    
                <button *ngIf="requestLaptops.length == request.count && request.status != 'goedgekeurd'" (click)="approveRequest(+request.id)" class="btn btn-outline-secondary">Bevestig aanvraag
                </button>
                <a href="mailto:{{request.email}}" *ngIf="requestLaptops.length == request.count" class="btn btn-outline-secondary m-1">Stuur Email
                </a>

                <a *ngIf="request.status != 'goedgekeurd'" routerLink="/requests" class="btn btn-link m-1" >Terug</a>  
                <a *ngIf="request.status == 'goedgekeurd'" routerLink="/requests/approved-requests" class="btn btn-link m-1">Terug</a>

            </div>
        </div>
    </div>
</div>

    



    
    

 <!--    <div class="col-2">
        <label for="">Select a laptop</label>
        <select [ngModel]="selectedLaptopId" (ngModelChange)="onSelectLaptop($event)" name="">
            <option [value]="i.id" *ngFor="let i of allLaptops">{{i.name}} {{i.type}}</option>
        </select>
    </div> -->

    

    

