<div *ngFor="let request of allRequests">
    <div *ngIf="+request.id == this.id">

        <div class="container">
            <h2>Details</h2>
        
            <div class="jumbotron bg-light p-1">
                <form *ngIf="requestLaptops.length < request.count" action="" class="row m-2 form-group" [formGroup]="form" (ngSubmit)="onAddLaptop()">
                    <div class="row">
                        <div *ngIf="request.type_os == 'Linux'" class="col-8">
                            <label for="laptop_id"></label>
                            <select name="laptop_id" id="laptop_id" formControlName="laptop_id" class="col-12">
                                <option *ngFor="let laptop of linuxLaptops" value="{{laptop.id}}">{{laptop.name}}</option>
                            </select>
                        </div>
                        
    
                        <div *ngIf="request.type_os == 'Windows'" class="col-8">
                            <label for="laptop_id" ></label>
                            <select name="laptop_id" id="laptop_id" formControlName="laptop_id" class="col-12" style="height: 100%">
                                <option *ngFor="let laptop of windowsLaptops" value="{{laptop.id}}">{{laptop.name}}</option>
                            </select>
                        </div>
                        
                        
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary">
                                Add Laptop
                            </button>                 
                        </div>
                        <div *ngIf="this.submitted && this.f.laptop_id.errors" class="">
                            <p *ngIf="this.f.laptop_id.errors.required">Selecting a laptop is required</p>
                        </div>
                    </div>
                    
                    
                </form>

                <table class="table table-striped  text-dark">
                    <thead>
                        <tr>
                            <th style="width: 5%">ID</th>
                            <th style="width: 35%">Naam</th>
                            <th style="width: 20%">System</th>
                            <th style="width: 20%">Price</th>
                            <th style="width: 10%"  *ngIf="request.status != 'approved'">Remove</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let laptop of requestLaptops">
                            <td>{{laptop.id}}</td>
                            <td>{{laptop.name}}</td>
                            <td>{{laptop.type}}</td>
                            <td>{{laptop.price}} euro</td>
                            <td *ngIf="request.status != 'approved'">
                                <button (click)="onRemoveLaptop(laptop.id)" class="btn btn-outline-secondary">Remove
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                
                
                    
                <button *ngIf="requestLaptops.length == request.count && request.status != 'approved'" (click)="approveRequest(+request.id)" class="btn btn-outline-secondary">Confirm
                </button>
                <a routerLink="/requests" class="btn btn-link">Back</a>  

            </div>
        </div>
    </div>
</div>

    



    
    

 <!--    <div class="col-2">
        <label for="">Select a laptop</label>
        <select [ngModel]="selectedLaptopId" (ngModelChange)="onSelectLaptop($event)" name="">
            <option [value]="i.id" *ngFor="let i of allLaptops">{{i.name}} {{i.type}}</option>
        </select>
    </div> -->

    

    

