<div class="container">
    <h1>All Caws</h1>
    <div class="jumbotron bg-light p-1">
        <a routerLink="/caw/add" class="btn btn-outline-secondary">Add Caw</a>

         <table class="table table-striped  text-dark">
            <thead>
                <tr>
                    <th style="width: 30%;">Deelwerking</th>
                    <th style="width: 20%;">E-mail</th>
                    <th style="width: 20%;">Telefoon</th>
                    <th style="width: 15%;">Edit</th>
                    <th style="width: 15%;">Delete</th>

                </tr>

            </thead>
            <tbody>
                <tr *ngFor="let caw of allCaws">
                    <td>{{caw.name}}</td>
                    <td>{{caw.email}}</td>
                    <td>{{caw.phone}}</td>
                    <td>
                        <a routerLink="/caw/edit/{{caw.id}}" class="btn btn-outline-secondary">Edit</a>
                    </td>
                    <td>
                        <button (click)="onDeleteCaw(caw.id)" class="btn btn-outline-secondary">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table> 
    </div>
</div>

