<div class="container">
    <h1>Alle Caw deelwerkingen</h1>
    <div class="jumbotron bg-light p-1">
        <a routerLink="/caw/add" class="btn btn-outline-secondary">Voeg deelwerking toe</a>

         <table class="table table-striped  text-dark">
            <thead>
                <tr>
                    <th style="width: 30%;">Deelwerking</th>
                    <th style="width: 20%;">E-mail</th>
                    <th style="width: 20%;">Telefoon</th>
                    <th style="width: 10%;">Details</th>
                    <th style="width: 10%;">Bewerk</th>
                    <th style="width: 10%;">Verwijder</th>

                </tr>

            </thead>
            <tbody>
                <tr *ngFor="let caw of allCaws">
                    <td>
                        <a routerLink="/caw/detail/{{caw.id}}" class="link-primary">{{caw.name}}</a>
                    </td>
                    <td>{{caw.email}}</td>
                    <td>{{caw.phone}}</td>
                    <td>
                        <a routerLink="/caw/detail/{{caw.id}}" class="btn btn-outline-secondary">Details</a>
                    </td>
                    <td>
                        <a routerLink="/caw/edit/{{caw.id}}" class="btn btn-outline-secondary">Bewerk</a>
                    </td>
                    <td>
                        <button (click)="onDeleteCaw(caw.id)" class="btn btn-outline-secondary">Verwijder</button>
                    </td>
                </tr>
            </tbody>
        </table> 
    </div>
</div>

