

<div class="container">
    <div class="jumbotron bg-light p-1 mt-2">
        <div class="row">
            <span class="col-2"></span>
            <div class="col-8">
                <a routerLink="/requests/add" class="btn btn-outline-dark m-1">Voeg aanvraag toe</a>

            </div>
            <div class="col-2">
                <a routerLink="/requests/approved-requests" class="btn btn-outline-dark m-1">Goedgekeurde Aanvragen</a>
            </div>
        </div>

        <hr>
        <h1>Lopende Aanvragen</h1>

        <div class="row">
            <div class="col-5">
            </div>
            <div class="col-2">
                Reset filter
            </div>
            <div class="col-5">
                Filter op Besturingssysteem
            </div>

        </div>

        <div class="row">
            <div class="col-5">

            </div>
            <div class="col-2">
                <button (click)="ngOnInit()" class="btn btn-outline-secondary m-1">Alle Aanvragen</button>

            </div>
            <div class="col-5">
                <button (click)="sortTypedRequests('Linux')" class="btn btn-outline-secondary m-1">Linux</button>

                <button (click)="sortTypedRequests('Windows')" class="btn btn-outline-secondary m-1">Windows</button>
            </div>
            






        </div>

        <table class="table table-striped text-dark">
            <thead>
                <tr>
                    <th style="width: 20%;">Naam</th>
                    <th style="width: 30%;">Opmerkingen</th>
                    <th style="width: 10%;">Aantal</th>
                    <th style="width: 10%;">Besturingssysteem</th>
                    <th style="width: 10%;">Status</th>
                    <th style="width: 10%;">Details</th>
                    <th style="width: 10%;">Verwijder</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let request of pendingRequests">
                    <td>{{request.email}}</td>
                    <td>{{request.description}}</td>
                    <td>{{request.count}}</td>
                    <td>{{request.type_os}}</td>
                    <td>{{request.status}}</td>
                    <td>
                        <a routerLink="/requests/detail/{{request.id}}" class="btn btn-outline-dark">Details</a>
                    </td> 
                    <td>
                        <button class="btn btn-outline-danger" (click)="onDeleteRequest(+request.id)">Verwijder
                        </button>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>

    

</div>


<!--

<div *ngFor="let request of laptopRequests">
<div *ngIf="request.status == 'approved' ">

<div *ngFor="let request of laptopRequests">
<div *ngIf="request.status == 'pending' ">
-->