/* You can add global styles to this file, and also import other style files */
a { cursor: pointer }

.app-container {
    min-height: 320px;
    overflow: hidden;
    background-color: transparent !important;
}

.btn-delete-user {
    width: 40px;
    text-align: center;
    box-sizing: content-box;
}





html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.example-container {
    position: relative;
    min-height: 100hv;
    display: inline !important;
}

.content-wrapper {
    padding-bottom: 1rem;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1rem
}