<!-- <p>stock-form works!</p> -->



<div class="container">
    <div class="">
        <mat-card >
            <mat-card-title>Laptop ingave</mat-card-title>
            <mat-card-subtitle>{{availableLaptopCount}} Laptops in stock</mat-card-subtitle>
        
            <input type="text" #box (keyup)="onLaptopNameChange(box.value)" placeholder="Enter laptop name" name="laptopName">
            
            <mat-card-actions>    
                <mat-button-toggle-group class="m-2" #group="matButtonToggleGroup" [value]="type_os" (change)="onValChange(group.value)" name="fontStyle" aria-label="Font Style">
                    <mat-button-toggle value="linux">Linux</mat-button-toggle>
                    <mat-button-toggle value="Windows">Windows</mat-button-toggle>
                </mat-button-toggle-group>
                
            
                <div class="row">
                    <span class="col-3"></span>
                    <button class="btn btn-outline-secondary col-3 m-1" (click)="onAddLaptop()" mat-button>Add laptop</button>
                    <a class="btn btn-outline-secondary col-3 m-1"  routerLink="/laptops" routerLinkActive="active" mat-button>Manage stock</a>
                    <span class="col-3"></span>
                </div>
              
            </mat-card-actions>
        </mat-card>
    </div>
    

    <!--
        List with all unapproved requests
    -->
    <div class="">
        <h1>Pending requests</h1>

        <mat-accordion class="requestList">
            <div *ngFor="let request of laptopRequests">
                <div *ngIf="request.status == 'pending' ">
                    <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                        {{request.name}}
                        </mat-panel-title>
                        <mat-panel-description>
                        {{request.type_os}}
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="row">
                        {{request.id}}
                        <p class="col-3">{{request.email}}</p>
                        <p class="col-3">description: {{request.description}}</p>
                        <p class="col-3">status: {{request.status}}</p>
                    
        
                        <div class="col-2">
                            <label for="">Select a laptop</label>
                            <select [ngModel]="selectedLaptopId" (ngModelChange)="onSelectLaptop($event)" name="">
                                <option [value]="i.id" *ngFor="let i of availableLaptops">{{i.name}} {{i.type}}</option>
                            </select>
                        </div>
                    </div>
        
                    <button (click)="onSubmitLaptopRequest(request)">approve request</button>
                    
                    </mat-expansion-panel>
                </div>
            </div>
        </mat-accordion>
    </div>
    
    
    <div class="">
        <h1 *ngIf="laptopRequests.length > 0">Approved requests</h1>

        <mat-accordion class="requestList">
            <div *ngFor="let request of laptopRequests">
                <div *ngIf="request.status == 'approved' ">
                    <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                        {{request.name}}
                        </mat-panel-title>
                        <mat-panel-description>
                        {{request.type_os}}
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="row">
                        {{request.id}}
                        <p class="col-3">{{request.email}}</p>
                        <p class="col-3">description: {{request.description}}</p>
                        <p class="col-3">status: {{request.status}}</p>
                    
                        <div *ngFor="let laptop of laptops">
                            <p *ngIf="laptop.id == request.laptop_id" class="col-3">assigned laptop: {{laptop.name}} | {{laptop.type}}</p>
                        </div>
                    </div>
                    
                    </mat-expansion-panel>
                </div>
            </div>
        </mat-accordion>
    </div>

    



  





</div>
